{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% load static %}

{% block extra_head %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'password_reset_done/password_reset_done.css' %}">
{% endblock extra_head %}

{% block titulo %}

{% endblock titulo %}

{% block body %}


{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}
<section>
        <div class="mt-5 wrapper">
                <h2 class="text-center">Confirm E-mail Address</h2>
                <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
                                href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
                        {{ user_display }}.{% endblocktrans %}
                </p>

                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <div class="col text-center">
                                <button class="btn btn-success btn-lg" type="submit">{% trans 'Confirm' %}</button>
                        </div>
                </form>
        </div>
</section>
{% else %}

{% url 'account_email' as email_url %}

<p class="text-center mx-auto">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a
                href="{{ email_url }}">issue a new
                e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}