{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block extra_head %}
<style>
    body {
        height: 100vh;
        margin: 0;
        background: linear-gradient(45deg, #0267C1, #00AFB5);
        background-size: cover;
    }

    #menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 300px;
        display: table;
        margin: auto;
        background-color: #212121;
        opacity: .75;
        text-align: center;
        color: white;
        font-size: 50px;
        box-shadow: 0px 0px 23px 2px black;
    }

    * {
        font-family: 'Roboto', sans-serif;
    }

    h2 {
        font-size: .6em;
        margin-top: 40px;
        margin-bottom: 0px;
        font-weight: 100;
    }

    input {
        margin-top: none;
        margin: 0 auto;
        background-color: transparent;
        border: none;
        width: 60%;
        border-bottom: 1px solid black;
        text-align: center;
        font-size: .3em;
        color: white;
    }

    input:focus {
        outline: none;
        border-bottom: 1px solid white;
        color: #00bcd4;
    }

    button {
        margin-top: none;
        margin: 0 auto;
        background-color: transparent;
        border: none;
        width: 60%;
        border: 1px solid black;
        text-align: center;
        font-size: .4em;
        color: white;
    }

    button:focus {
        outline: white;
    }
</style>

{% endblock extra_head %}


{% block titulo %}
{% if token_fail %}{% trans "Bad Token" %}{% else %}{% endif %}
{% endblock titulo %}

{% block body %}

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a
        href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
{% if form %}

<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
<div id='menu'>

    <h2>Reset Password</h2>

    <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form.password1 }}
        {{ form.password2 }}
        <button id='button' type='submit' name='action' value="{% trans 'change password' %}">Change Password</button>
    </form>
</div>}

{% else %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}
<script>
    document.getElementById("button").addEventListener("click", ChangePW);

    function ChangePW() {
        if (document.getElementById("one").value === document.getElementById("two").value && document.getElementById("one").value !== '') {
            alert('Pw has been reset.');
        }
    }
</script>
{% endblock %}