{% load i18n %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    .container {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }

    .content {
        align-content: center;
        align-content: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center mb-3">
            <h1>Change Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="content col-sm-6 col-sm-offset-3">
            <p class="text-center">Use the form below to change your password. Your password cannot be the same as your
                username.</p>
            <form method="post" id="passwordForm">
                <p>Old password</p>
                {% csrf_token %}
                {{form.oldpassword}}
                <p>New password</p>
                {{form.password1}}
                <p>Repeat new password</p>
                {{form.password1}}
                <br></br>
                <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"
                    data-loading-text="Changing Password..." value="Change Password">
            </form>
        </div>
        <!--/col-sm-6-->
    </div>
    <!--/row-->
</div>