{% load static %}

{% load i18n %}
{% load account %}

{% block extra_head %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
    integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
    integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'password_reset_done/password_reset_done.css' %}">
{% endblock extra_head %}

{% block body %}


{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<section>
    <div class="wrapper">
        <a href="{% url 'index' %}" class="close">X</a>
        <h1 class="text-center">Email sent</h1>
        <p class="text-center mx-auto">We have sent you an e-mail. Please contact us if you do not receive it within a
            few minutes.</p>
        <button onclick="window.location.href='{% url 'index' %}'" type="button" class="btn btn-success btn-lg">Back to
            Houdini!</button>
    </div>
</section>

{% endblock %}